:root {
    --blue: #10486b;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Nova Square', sans-serif;
    background-color: var(--blue);
    color: var(--orange);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
    margin: 20px;
    font-size: 50px;
    font-weight: bolder;
}

.definition-target:hover {
    text-decoration: underline;
    cursor: pointer;
}

.input-div {
    max-width: 450px;
    min-height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--gray);
    box-shadow: 5px 5px 3px black;
    font-size: 20px;
}

label {
    margin: 10px;
}

.text-input {
    width: 275px;
    height: 25px;
    margin: 10px;
    color: var(--orange);
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
}

.check-btn {
    font-size: 15px;
    font-family: 'Nova Square', sans-serif;
    border-radius: 13px;
    padding: 5px;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
}

.definition-div {
    max-width: 450px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--white);
    background-color: var(--light_gray);
    box-shadow: 5px 5px 3px black;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

#close-btn {
    position: relative;
    margin: -9px;
    cursor: pointer;
}

.hidden {
    display: none;
}
